<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <script type='text/css' rel='stylesheet' href='/node_modules/bootstrap/dist/css'>
    </script> I tried to set this up myself ;( -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <h1>ACME Products Project</h1>
  <div class="nav">
    <ul>
    {% for category in title %}
      <li><a href="/{{category}}">{{category}}</a></li>
    {% endfor %}
    </ul>
  </div>
  
 
  {% block content %}
  
  {% endblock %}
  
</body>
</html>